@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

*{
	outline: none !important;
}

#page-metabox{
	background: #fff;
	border: none;
}

#page-metabox h3.hndle,
#page-metabox .handlediv{
	margin: 0;
	display: none !important;
	height: 0 !important;
}

#page-metabox .inside{
	margin: 0;
	padding: 0;
}

#mt-metabox{
	padding: 0;
	margin-top: 60px;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	overflow: hidden;
	position: relative;
	color: #3b3f4d;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

#mt-metabox h2#mt-title{
	font-size: 18px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	text-shadow: none;
	width: 220px;
	height: 60px;
	line-height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	background: #1abc9c;
	color: #fff;
	text-align: center;
	z-index: 9;

	-webkit-box-shadow: 5px 0 0 0 rgba(24,24,20,.08);
	-moz-box-shadow: 5px 0 0 0 rgba(24,24,20,.08);
	-ms-box-shadow: 5px 0 0 0 rgba(24,24,20,.08);
	-o-box-shadow: 5px 0 0 0 rgba(24,24,20,.08);
	box-shadow: 5px 0 0 0 rgba(24,24,20,.08);

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
}


#mt-metabox ul#mt-tabs{
	width: 220px;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 60px;
	height: 100%;
	background: #2b303e;
	z-index: 9;

	-webkit-box-shadow: 5px 0 0 0 rgba(24,24,20,.08);
	-moz-box-shadow: 5px 0 0 0 rgba(24,24,20,.08);
	-ms-box-shadow: 5px 0 0 0 rgba(24,24,20,.08);
	-o-box-shadow: 5px 0 0 0 rgba(24,24,20,.08);
	box-shadow: 5px 0 0 0 rgba(24,24,20,.08);
}

#mt-metabox ul#mt-tabs li{
	margin: 0;
	padding: 0;
}

#mt-metabox ul#mt-tabs li.md-post-format{
	display: none;
}

#mt-metabox ul#mt-tabs li a{
	color: #9b9c9e;
	text-decoration: none;
	padding: 20px 20px 20px 60px;
	display: block;
	font-weight: 500;
	font-size: 14px;
	position: relative;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

#mt-metabox ul#mt-tabs li a:hover,
#mt-metabox ul#mt-tabs li a.active{
	background: #3b3f4d;
	color: #fff;
}

#mt-metabox ul#mt-tabs li a i{
	width: 18px;
	height: 2418pxpx;
	background: center;
	position: absolute;
	top: 50%;
	left: 25px;
	margin-top:-9px;
	display: inline-block;
	opacity: 0.5;
	font-size: 18px;
}

#mt-metabox ul#mt-tabs li a:hover i,
#mt-metabox ul#mt-tabs li.active a i{
	opacity: 1;
}


#mt-metabox .mt-panel{
	background: #fff;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	display: none;
	margin-left: 220px;
	padding: 25px 35px;
	border-top: 60px solid #3193c6;
	min-height: 500px;
	position: relative;
	margin-top: 0;
	top: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}


#mt-metabox .mt-panel .field{
	border-bottom: 1px solid #f9f9f9;
	vertical-align: top;
	padding-bottom: 25px;
	margin-bottom: 25px;
}

#mt-metabox .mt-panel .field:last-child{
	border:none;
}

#mt-metabox .mt-panel .field label{
	width:33%;
	display:inline-block;
	font-weight:bold;
	vertical-align: top;
	margin-top: 7px;
}

#mt-metabox .mt-panel .field .desc{
	display:block;
	color: #b9babf;
	margin-top: 10px;
	font-size: 12px;
	font-weight: 300;
	font-family: sans-serif;
}

#mt-metabox .mt-panel .field .input{
	width: 66%;
	display: inline-block;
}


#mt-metabox .mt-panel .field input.custom{
	height:30px;
	padding:0 10px;
	width: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

	border-radius: 0px;
}

#mt-metabox .mt-panel .field textarea.custom{
	height:180px;
	padding:10px;
	vertical-align: top;

	width: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

#mt-metabox .mt-panel .field.cpicker .wp-picker-container{
	vertical-align: top;
	position: relative;
}

#mt-metabox .mt-panel .field.cpicker input{
	font-size: 11px;
}

#mt-metabox .mt-panel .field.cpicker .iris-picker{
	position: absolute;
	z-index: 9;
	top: 25px;
	left: 0;
}

#mt-metabox .mt-panel .field select{
}

#mt-metabox .mt-panel .field .chzn-container{
	width: 100% !important;
}

#mt-metabox .mt-panel .field .upload_area{
	margin-top: 10px;
	display: block;
}


#mt-metabox .mt-panel .field .upload_img{
	display: block;
}

#mt-metabox .mt-panel .field .upload_img img{
	max-width: 150px;
	display: inline-block;
	margin: 0 5px 5px 0px;
}

#mt-metabox .mt-panel .field .upload_img.multi img{
	width: 60px;
	height: 60px;
}

#mt-metabox .mt-panel .field .upload_remove_single,
#mt-metabox .mt-panel .field .upload_remove_multi{
	margin-left: 10px;
}

#mt-metabox .mt-panel .field .upload_title{
	margin-top: 10px;
	display: block;
}


#mt-metabox .mt-panel .field.editor label{
	margin-bottom: 10px;
}

#mt-metabox .mt-panel .field.editor .input{
	width: 100%;
}


#mt-metabox .mt-panel .field.toggled input{
	display: none;
}

#mt-metabox .mt-panel .field a.checkbox-toggle{
	display: inline-block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	position: relative;
	overflow: hidden;
	font-size: 12px;
	vertical-align: top;
	letter-spacing: 1px;
	vertical-align: middle;
	border:1px solid #eee;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

#mt-metabox .mt-panel .field a.checkbox-toggle span{
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	z-index: 2;
	color: #000;
}

#mt-metabox .mt-panel .field a.checkbox-toggle span.yes{
	left: 0;
}

#mt-metabox .mt-panel .field a.checkbox-toggle span.no{
	right: 0;
}

#mt-metabox .mt-panel .field a.checkbox-toggle span.move{
	z-index: 1;
	top: 0;
	left: 50%;
	background: #1abc9c;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#mt-metabox .mt-panel .field a.checkbox-toggle.active span.move{
	left: 0%;
}

#mt-metabox .mt-panel .field a.checkbox-toggle span.no{
	color: #fff;
}

#mt-metabox .mt-panel .field a.checkbox-toggle.active span.yes{
	color: #fff;
}

#mt-metabox .mt-panel .field a.checkbox-toggle.active span.no{
	color: #000;
}


.md-button{
	background: #1abc9c;
	border: none;
	font-size: 12px;
	font-weight: 500;
	color: #fff !important;
	padding: 8px 20px;
	height: auto;
	text-shadow:none;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	display: inline-block;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	
}

.md-button.md-remove{
	background: #e74c3c;
}

.md-button:hover{
	opacity: 0.8;
}


#mt-metabox input,
#mt-metabox select,
#mt-metabox textarea,
#mt-metabox a.wp-color-result{
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 12px !important;
}



.md-field{
    width: 100%;
    margin-bottom: 30px;
    padding: 0 20px;
    position: relative;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

 .md-field .label {
    display: inline-block;
    float: left;
    margin: 8px 0 0 0;
    width: 30%;
    text-transform: uppercase;
    font-size: 13px;
    color: #353843;
    font-weight: 700;
}

 .md-field .content {
    display: inline-block;
    width: 70%;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 35px;
}


 .md-field .content.full {
  width: 100%;
  margin: 10px 0 0 0;
}

.md-field .content.border{
  border:1px solid #d1d1d1;
  background: #fff;
}

.md-field .content.tinymce .wp-editor-container{
  background: #fff;
}

.md-field .content.tinymce .mceIframeContainer{
  height: 120px !important;
}

.md-field .content .mceToolbar td a.mce_shortcodebtns,
.md-field .content .mce_shortcodebtns{
	display: none;
}

.md-field .content.md-sh .mceToolbar td a.mce_shortcodebtns,
.md-field .content.md-sh .mce_shortcodebtns{
	 display: block;
}

.md-field .content.md-sh-only .insert-media,
.md-field .content.md-sh-only .mceToolbar td a,
.md-field .content.md-sh-only .mceToolbar td .mce_formatselect{
  display: none;
}

.md-field .content.md-sh-only .mceToolbar td a.mce_shortcodebtns,
.md-field .content.md-sh-only .mce_shortcodebtns{
  display: block !important;
}

.md-field .content input[type="text"],
.md-field .content textarea,
.md-field .content select{
    border-color: #ccc;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100%;
    padding: 10px;
    background: #fff;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

.md-field .content textarea.textarea{
    height: 120px;
}

.md-field .content select{
    height: 30px;
    padding: 5px;
}

.md-field .content input[type="radio"]{
    display: inline-block;
    margin: 7px 20px 0px 5px;
}

.md-field .content input:focus, 
.md-field .content textarea.textarea:focus {
    border-color: #1abc9c;
}

.md-field .content label{
    text-transform: uppercase;
    margin: 10px 0 0 0 !important;
    display: inline-block;
}

.md-field .content .upload_area{
	margin-top: 10px;
}

.md-field .content .upload_img{
	display: none;
}

.md-field .content .upload_img img{
	max-width: 150px;
	display: inline-block;
	margin: 0 5px 5px 0px;
}

.md-field .wp-picker-holder{
  position: absolute;
  top: 25px;
  z-index: 99;
}


.md-field .description{
  font-size: 11px;
  font-style: normal;
  font-family: 'Lato';
  color: #999;
  width: 100%;
  display: inline-block;
}

.md-field-btn {
    background: #1abc9c;
    border: none;
    font-size: 10px;
    color: #fff !important;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    text-shadow:none;
    text-decoration: none;
    display: inline-block;
    float: right;
    margin-left: 3px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.md-field-btn.remove-list-item{
    background: #c0392c;
    margin-right: 0;
}

.icons-item {
  width: 100%;
  padding-top: 30px;
  display: block;
}

.icons-item a{
  margin: 0 4px 4px 0;
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: #2b303e;
  border:1px solid #d1d1d1;
  background: #f0f3f2;

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}


.icons-item a:hover{
  background: #fff;
  z-index: 9;
  color: #2b303e;

  -webkit-transform: scale(2);
     -moz-transform: scale(2);
      -ms-transform: scale(2);
       -o-transform: scale(2);
          transform: scale(2);
}

.icons-item a.active{
  color: #fff;
  background: #1abc9c;
}